.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background: #f7f7f7;
  gap: 40px;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

.hero-text h1 span {
  color: #4b0082;
}

.hero-text h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #444;
}

.hero-text p {
    font-style: Inter, sans-serif;
    color: #555;
    margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-image img {
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
